<div class="wsite-section-wrap">
    <div class="wsite-section wsite-body-section">
        <%- partial('_partial/content', {title: "Released projects", cls:"_partial/multicol"}) %>
        <%- partial('_partial/content', {title: "Current project", cls:"_partial/banner"}) %>
    </div>
</div>