<html>

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>

    <div class="no-header-page  wsite-page-index wsite-theme-light"
	style="min-height: 100%; position: relative; height: auto !important; padding-bottom: 62px !important; padding-top: 0px;">
        <div class="wrapper">
            <div class="cento-header">    
                <!-- Menu -->
                <%- partial('_partial/menu') %>
            <div class="row">

            <!-- Main Content -->
            <div class="col-sm-8 blog-main">
                <%- body %>
            </div>

        </div>
    </div>
</body>

</html>