<div class="wsite-section-content">
    <div class="container">
        <div class="wsite-section-elements">
            <h2 class="wsite-content-title"><%=title %></h2>
            <%- partial(cls) %> 
        </div>
    </div>
</div>