<div class="container">
    <footer class="footer">
        <div class="copyright">©2021 - 2022 By <%= theme.name %></div>
        <div class="framework-info">
            <span>Framework </span><a target="_blank" rel="noopener" href="https://hexo.io">Hexo</a>
            <span class="footer-separator">|</span>
            <span>Theme </span>
            <a target="_blank" rel="noopener" href="https://github.com/NekoAsakura/hexo-theme-pitch-white">Pitch White</a>
        </div>
    </footer>
</div>
