<div class="container">
    <div class="logo"><span class="wsite-logo">
        <a href="<%- page.path %>">
            <img src="<%- url_for(theme.logo) %>">
        </a>
    </div>
    <a class="hamburger" aria-label="Menu" href="#"><span></span></a>
</div>
<div class="nav-wrap">
    <div class="container nav desktop-nav">
        <ul class="wsite-menu-default">
            <% for (var i in theme.menu){ %>
            <li id="active" class="wsite-menu-item-wrap">
                    <a class="wsite-menu-item" href="<%- url_for(theme.menu[i]) %>" style="position: relative;"><%= i %></a>
                <% } %>
            </li>
        </ul>
    </div>
</div>